<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
  <ul id="err">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <% }) %>
  </ul>
<% } %>

<div id="registerContainer">
  <form id="registerForm" action="/account/register" method="post">
    <fieldset>
      <legend>Register</legend>
      
      <label for="account_firstname">First Name:</label>
      <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname || '' %>">
      
      <label for="account_lastname">Last Name:</label>
      <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname || '' %>">
      
      <label for="account_email">Email:</label>
      <input type="email" id="account_email" name="account_email" required value="<%= locals.account_email || '' %>">
      
      <label for="account_password">Password:</label>
      <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
      <input type="password" id="account_password" name="account_password" required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){12,}$">
      
      <button type="submit">Register</button>
    </fieldset>
  </form>
  
  <p>Already have an account? <a href="/account/login">Login</a></p>
</div>
